In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv("../Data/IT_Data.csv")

In [21]:
dataset.head(5)

,ID,Query,Job Title,Description
0,1,Data Scientist,Junior Data Scientist Apprenticeship,Job Description As a Junior Data Scientist at ...
1,2,Data Scientist,"HBO Data Scientist, Content Science",OVERALL SUMMARY As a Data Scientist on the Dat...
2,3,Data Scientist,Junior Data Scientist,The Team: The Data science team is a newly for...
3,4,Data Scientist,Jr Data Scientist,We now have a need for junior Data Scientist(s...
4,5,Data Scientist,"Data Scientist, Premium Content",Do you want to help guide the core business of...

In [7]:
dataset['Query']

0         Data Scientist
1         Data Scientist
2         Data Scientist
3         Data Scientist
4         Data Scientist
              ...
12995    Software Tester
12996    Software Tester
12997    Software Tester
12998    Software Tester
12999    Software Tester
Name: Query, Length: 13000, dtype: object

In [8]:
dataset['Query'].unique()

array(['Data Scientist', 'Data Analyst', 'Data Architect',
       'Data Engineer', 'Statistics', 'Database Administrator',
       'Business Analyst', 'Data and Analytics Manager',
       'Machine Learning', 'Artificial Intelligence', 'Deep Learning',
       'Business Intelligence Analyst', 'Data Visualization Expert',
       'Data Quality Manager', 'Big Data Engineer', 'Data Warehousing',
       'Technology Integration', 'IT Consultant',
       'IT Systems Administrator', 'Cloud Architect',
       'Technical Operations', 'Cloud Services Developer',
       'Full Stack Developer', 'Information Security Analyst',
       'Network Architect', 'DevOps Engineer', 'Web Developer',
       'Data Scientist ', 'Software Developer', 'Software Engineer',
       'Machine Learning Expert', 'SAP Consultant', 'Project Manager',
       'Software Tester'], dtype=object)

In [9]:
len(dataset['Query'].unique())

34

In [19]:
dataset['Query'].value_counts()

Database Administrator           600
IT Consultant                    598
Data Analyst                     597
Business Analyst                 596
Information Security Analyst     595
Cloud Architect                  540
Big Data Engineer                520
Network Architect                511
Full Stack Developer             400
Data Scientist                   400
IT Systems Administrator         399
Data and Analytics Manager       399
Technology Integration           399
Data Architect                   399
Cloud Services Developer         395
Technical Operations             394
Data Quality Manager             394
Machine Learning                 392
Statistics                       390
Data Warehousing                 385
Data Engineer                    385
Artificial Intelligence          382
Deep Learning                    381
Data Visualization Expert        377
Business Intelligence Analyst    372
Software Engineer                200
Web Developer                    200
DevOps Engineer                  200
SAP Consultant                   200
Software Tester                  200
Software Developer               200
Project Manager                  200
Data Scientist                   200
Machine Learning Expert          200
Name: Query, dtype: int64