In [22]:
import numpy as np
import pandas as pd
import joblib
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
import re

In [23]:
path = '../../data/profile_data.csv'
profile_data = pd.read_csv(path)
profiles = pd.DataFrame(columns=['skills','jobtitle'])
profiles['skills']= profile_data['LanguageWorkedWith'] + profile_data['DatabaseWorkedWith'] + profile_data['PlatformWorkedWith'] + profile_data['FrameworkWorkedWith'] + profile_data['IDE'] + profile_data['OperatingSystem'] + profile_data['Methodology'] + profile_data['VersionControl']
profiles['jobtitle'] = profile_data['DevType']
profiles.head(5)

D:\software\professional\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8,12,13,14,15,16,50,51,52,53,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,skills,jobtitle
0,JavaScript;Python;HTML;CSSRedis;SQL Server;MyS...,Full-stack developer
1,NaN,Database administrator;DevOps specialist;Full-...
2,NaN,Engineering manager;Full-stack developer
3,NaN,Full-stack developer
4,NaN,Data or business analyst;Desktop or enterprise...

In [24]:
len(profiles)

98855

In [25]:
profiles = profiles.dropna().reset_index(drop=True)
profiles['skills'] = profiles['skills'].str.lower()
profiles['jobtitle'] = profiles['jobtitle'].str.lower()
profiles.head(5)

,skills,jobtitle
0,javascript;python;html;cssredis;sql server;mys...,full-stack developer
1,java;javascript;python;typescript;html;cssmong...,back-end developer;database administrator;fron...
2,javascript;html;cssmongodblinuxnode.js;reactat...,back-end developer;front-end developer;full-st...
3,javascript;typescript;html;cssmongodb;mysql;mi...,designer;front-end developer;qa or test developer
4,assembly;coffeescript;erlang;go;javascript;lua...,"back-end developer;c-suite executive (ceo, cto..."

In [26]:
joblib.dump(profiles,'../model_save/cleaned_profiles_weight.pkl')

['../model_save/cleaned_profiles_weight.pkl']

In [16]:
ps = PorterStemmer()
all_stopwords = stopwords.words('english')

In [18]:
for i in range(len(profiles)):
    temp = re.sub('[^a-zA-Z]', ' ', profiles["jobtitle"][i])
    temp = temp.split()
    temp = [ps.stem(word) for word in temp if not word in set(all_stopwords)]
    temp = ' '.join(temp)
    profiles["jobtitle"][i] = temp

In [19]:
for i in range(len(profiles)):
    temp = re.sub('[^a-zA-Z]', ' ', profiles["skills"][i])
    temp = temp.split()
    temp = [ps.stem(word) for word in temp if not word in set(all_stopwords)]
    temp = ' '.join(temp)
    profiles["skills"][i] = temp

In [20]:
profiles.head(5)

,skills,jobtitle
0,javascript python html cssredi sql server mysq...,full stack develop
1,java javascript python typescript html cssmong...,back end develop databa administr front end de...
2,javascript html cssmongodblinuxnod js reactato...,back end develop front end develop full stack ...
3,javascript typescript html cssmongodb mysql mi...,design front end develop qa test develop
4,assembl coffeescript erlang go javascript lua ...,back end develop c suit execut ceo cto etc dat...

In [21]:
joblib.dump(profiles,'../model_save/cleaned_profiles.pkl')

['../model_save/cleaned_profiles.pkl']